.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    grid-column-gap: 10px;
}

.item{
    background-color: aqua;
    padding: 10px;
    text-align: center;
}

.item-1{
    background-color:blanchedalmond;
    font-weight: bold;
}

.item-7{
    background-color: black;
    color: white
}